.sidebar {
    padding: 1rem;
    padding-bottom: 2rem;
    min-width: 15%; 
    border-radius: 1rem;
    background: var(--color-amber-50);

    h2 {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: calc(1.75 / 1.125);
    }

    select {
        border: 1px solid var(--color-amber-300);
        width: 100%;
        padding: 0.25rem;
        border-radius: 1rem;
        margin-top: 1rem;
    }
}